# dependencies
/node_modules

# testing
/coverage

# next.js
/.next/
/out/

# production
/build

.vscode

# misc
.DS_Store
*.pem

# debug
npm-debug.log*
.pnpm-debug.log*

# env files
.env*

# vercel
.vercel

# typescript
*.tsbuildinfo
next-env.d.ts

# GitHub
.github

# Cursor
.cursor

# project-internal + skills
.agents

.claude

# DB migrations
/src/supabase/migrations
