# dependencies
/node_modules

# next.js
/.next/
/out/

# production
/build

.vscode

# misc
.DS_Store
*.pem

# debug
npm-debug.log*
.pnpm-debug.log*

# env files
.env*
!.env.local.example

# vercel
.vercel

# typescript
*.tsbuildinfo
next-env.d.ts

# GitHub
.github

# Cursor
.cursor

# project-internal + skills
.agents

.claude

# DB migrations
/src/supabase/migrations

docs/

.playwright-mcp
